
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Client App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Create Package</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="check-package">Sprawdz status paczki</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
        <div class="col-1"></div>
        <!-- Force next columns to break to new line at md breakpoint and up -->
  </div>
</div>


